.blibsHtmlSelectbox {
    position:relative;
    z-index:2;

    background-color: white;
    background-image: url('/img/htmlTools/ic_blibsiconselectbox_arrow.gif');
    background-repeat:no-repeat;
    background-position:right top;

    line-height:16px;
    height:16px;
    border:1px solid #7F838D;
    padding-left:2px;
    padding-right:15px;

    cursor: default;
}

.blibsHtmlSelectbox .optionItem {
   padding:1px 5px 1px 5px;
   white-space:nowrap;
   color:black;
   font-weight:normal;
}

.blibsHtmlSelectbox .selectedOption {
   width:100%;
   height:16px;
   overflow:hidden;
   white-space:nowrap;
   color:black;
   font-weight:normal;
}
.blibsHtmlSelectbox .selectedOption .optionItem {
    margin-right:6px;
    overflow:hidden;
}

.blibsHtmlSelectbox .optionsWrapper {
   position:absolute;
   top:100%;
   left:-1px;
   width:100%;
}

.blibsHtmlSelectbox .optionsHolder {
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   border-color: #000000;

   background-color: white;
   float:left;
   z-index:3;
}

.blibsHtmlSelectbox .optionsHolder .highlight {
   background-color: #7F838D;
   color:white;
   white-space:nowrap;
}
