/* 
    Document   : selectboxChooser
    Created on : Sep 22, 2010, 3:00:52 PM
    Author     : shadowdark
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
div.selectectBoxChooser{
    margin-top: 3px;
    float:left;
    clear: both;
}
div.selectectBoxChooser div.administration{
    width:535px;
    height: 180px;
    background-color: #F0F0F0;
    clear: both;
}

div.administration div.allDst ,div.allSrc{
    width:40%;
    float:left;
    font-family: Verdana,Helvetica,Arial;
    margin:10px;
    height: 150px;
}

div.administration div.middle{
    width:12%;
    float: left;
    text-align: center;
    padding-top:65px;
}
div.administration button.rightButton , button.leftButton{
    background-color: #93CD00;
    background-image: none;
    border: 1px solid #93CD00;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin: 0px 0px 5px;
    padding: 0px;
    width: 62px;
}

div.administration select.srcSelectBox , select.dstSelectBox{
    width:100%;
    height:100%;
    border: solid 2px #000;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 9px;
}
